.red {
    color: red;
}

h1 {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

h3 {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

#staticintro {
    width: 80%;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;

}

#content {
    width: 80%;
    min-height: 400px;
    border: 1px solid black;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

body {
    overflow-y: scroll; /* Add vertical scrollbar */
}

nav ul {
    list-style-type: none;
    margin-bottom: 5px;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

nav ul li a.active {
    color: white;
    background-color: darkgrey;
}

nav .right {
    float:right;
}

nav .hidden {
    display: none;
}

input[type=text], [type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: lightgrey;
}

#logindiv {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: 50px;
    padding: 20px;
}

