.red {
    color: red;
}

h1 {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

h3 {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

#staticintro {
    width: 80%;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;

}

#content {
    width: 80%;
    min-height: 400px;
    border: 1px solid black;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

#test {
    width: 80%;
    min-height: 100px;
    border: 1px solid black;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

/*#navbar {
    width: 80%;
    margin: auto;
    padding-bottom: 5px;
}

#navbar button {
    width: 80px;
    height:30px;
    color: black;
    background-color: lightgrey;
}

#navbar button.active {
    width: 80px;
    height:30px;
    color: white;
    background-color: darkgrey;
}*/

body {
    overflow-y: scroll; /* Add vertical scrollbar */
}

nav ul {
    list-style-type: none;
    margin-bottom: 5px;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

nav ul li a.active {
    color: white;
    background-color: darkgrey;
}

